<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.dubbo.mapper.UserCouponMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.dubbo.model.UserCouponDO">
        <id column="id" property="id" />
        <result column="user_coupon_code" property="userCouponCode" />
        <result column="image_url" property="imageUrl" />
        <result column="coupon_id" property="couponId" />
        <result column="user_id" property="userId" />
        <result column="status" property="status" />
        <result column="order_id" property="orderId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_coupon_code, image_url, coupon_id, user_id, status, order_id, create_time
    </sql>

</mapper>
